ENV= # prod or local

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

PG_DSN_PROD=postgres://user:password@dockerhost:port/dbname
PG_DSN_LOCAL=postgres://user:password@localhost:port/dbname

HTTP_HOST=
HTTP_PORT=

JWT_SECRET_KEY=
PASS_HASH_SECRET=